/* a{
    color: red !important;
} */

.navbar .nav-link {
    color: hwb(177 2% 35%) !important;

}

.heading {
    text-align: center;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.question-list {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
}

.question-list h4 {
    margin: 0;
    padding: 0;
}

.question-list a, .question-title {
    font-size: 18px;
    text-decoration: none;
    color: rgb(31, 170, 180) !important;
}

.answer-wrapper{
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 5px;
}

.mirror-q {
    display: inline-block;
    transform: scaleX(-1);
}
